<mat-form-field class="app-input">
  <mat-label>Dime tu nombre</mat-label>
  <input matInput [(ngModel)]="name" name="name">
</mat-form-field>

<h1>
  Bienvenido al curso,  {{ name }}!
</h1>

<div class="app-container">

  <mat-form-field appearance="fill">
    <mat-label>Modo Visualización</mat-label>
    <mat-select [(ngModel)]="typeChartSelected">
      <mat-option *ngFor="let mode of modes" [value]="mode.id">
        {{mode.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <app-chart [type]="typeChartSelected"></app-chart>

</div>
